/* -------------------------------
Reset all default margin & padding
------------------------------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* -------------------------------
    Declare Styles Variable
------------------------------- */
:root {
  --color-green: #26ae60;
  --color-blue: #2471fb;
  --color-white: #fff;
}
/* -------------------------------
    Common Styles or Utilities
------------------------------- */
body {
  font-family: "Poppins", sans-serif;
}
/* -------------------------------
              Navbar
------------------------------- */
.custom-navbar-brand {
  text-decoration: none;
  color: #3e3e3e;
  font-size: 20px;
  font-weight: 700;
}
.custom-navbar-brand:hover {
  color: #3e3e3e;
}
.navbar-nav .nav-link {
  color: #3e3e3e;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  margin-left: 20px;
}
.navbar-nav .nav-link:hover {
  color: var(--color-green);
}
.navbar-toggler {
  color: var(--color-blue);
}
.navbar-toggler:focus {
  text-decoration: none;
  outline: 0;
  box-shadow: none;
}
/* -------------------------------
          Button Area
------------------------------- */
/* register button */
.register-btn {
  padding: 8px 40px;
  text-decoration: none;
  background-color: var(--color-green);
  color: var(--color-white);
  font-weight: 500;
  font-size: 16px;
  border-radius: 50px;
  border: 1px solid transparent;
  transition: 0.2s;
}
.register-btn:hover {
  background-color: transparent;
  color: var(--color-green);
  border: 1px solid var(--color-green);
}
/* -------------------------------
          Dropdown Area
------------------------------- */
.dropdown-menu {
  background-color: var(--color-green);
}
.dropdown-item {
  color: var(--color-white);
  font-size: 14px;
}
.dropdown-item:focus {
  background-color: var(--color-green);
}

/* -------------------------------
        Admin Login Page
------------------------------- */
.login-bg {
  margin-top: 80px;
  padding: 40px 30px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.login-title {
  font-size: 22px;
  font-weight: 600;
  text-align: center;
}
.form-text {
  font-size: 14px;
  text-align: center;
  margin-top: 20px;
}
.login-btn {
  padding: 8px 40px;
  text-decoration: none;
  background-color: var(--color-blue);
  color: var(--color-white);
  font-weight: 500;
  font-size: 16px;
  border-radius: 50px;
  border: 1px solid transparent;
  transition: 0.2s;
}
.login-btn:hover {
  background-color: transparent;
  color: var(--color-blue);
  border: 1px solid var(--color-blue);
}
/* -------------------------------
      Registration.html
------------------------------- */
.registration-section {
  height: 100vh;
  display: flex;
  /* background-color: #26ae60; */
  align-items: center;
}
.register-left-part {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.form-control:focus {
  border-color: var(--color-green);
  box-shadow: inset 0 1px 1px rgba(71, 255, 47, 0.075),
    0 0 8px rgba(67, 255, 92, 0.6);
}
/* -------------------------------
  Registration success page
------------------------------- */
.registration-success-bg {
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.registration-success-bg h3 {
  margin-top: 20px;
  font-size: 24px;
  font-weight: 600;
}
.registration-success-bg p {
  text-align: center;
  font-size: 14px;
}

/* -------------------------------
Responsiveness for Mobile Devices
------------------------------- */
@media screen and (max-width: 576px) {
  .navbar-collapse {
    text-align: center;
  }
  .navbar-nav .nav-link {
    padding: 10px;
    margin-left: 0;
  }
  .dropdown-item {
    text-align: center;
  }
}
